<h1>Game</h1>

<div class="board">
  <div class="board-top">
    <div class="board-one">
      <% 1..9.times.each do |number| %>
        <%= form_for [@game, @move] do |f| %>
          <%= f.hidden_field :game_id, value: @game.id %>
          <%= f.hidden_field :position, value: number %>
          
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>