* {
  font-family: 'Montserrat', sans-serif;
}

.button.round {
  background-color: #FF5A33;
  margin-top: 1em;
}

.select-game .button.round {
  margin-top: 3em;
}

.home {
  text-align: center;
}

.home a {
  color: #FF5A33;
}

.row a {
  color: #FF5A33;
}

.top-bar .title-area {
  background: #FF5A33;
}

.leaderboard {
  text-align: center;
}

.leaderboard h1 {
  color: #FF5A33;
}

.submit {
  background-color: #FF5A33;
}

.top-bar-section ul .active {
  background: #FF5A33;
}

.top-bar .active {
  background: green;
}

.board-show h1 {
  font-size: 64px;
  text-align: center;
}

.board-show h3 {
  text-align: center;
}

.board-show .columns {
  height: 150px;
  border: 10px solid #CCC4C2;
}

.board-show .win-message {
  text-align: center;
}

.board-cell label {
  max-height: 100%;
  max-width: 100%;
}

.board-cell input[type="radio"] {
  display: none;
}

.board-cell .cell-mark label {
  font-size: 100px;
  color:#FF5A33;
  text-align: center;
}

#new_move label{
  height:144px;
}

#new_move label:active{
  background-color:pink;
  color:pink;
}

.login .row {
  text-align: center;
}

.login-title h1 {
  text-align: center;
}

.login .button {
  text-align: center;
}

