

.top-bar {
  background: #DDF5FF;
}

.columns {
  height: 150px;
  border: 3px solid black;
}

.board-cell label {
  max-height: 100%;
  max-width: 100%;
}

.board-cell input[type="radio"] {
  display: none;
}

.board-cell .cell-mark label {
  font-size: 48px;
}

#new_move label{
  height:144px;
}

#new_move label:active{
  background-color:pink;
  color:pink;
}